* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	color: white;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-ms-user-drag: element;
	cursor: move;
}

html, body {
	background: #6cbbec;
	height: 100%;
}
.hidden {
	display: none !important;
}

.centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#room {
	width: 600px;
	height: 600px;
	max-height: 98%;
	min-height: 420px;
	border: 2px solid white;
	border-radius: 15px;
	background: #ffa320;
}

.level {
	text-align: right;
	padding: 5px;
}

.level * {
	font-size: 24px;
}

select, select > option {
	background: silver;
}

.anagram {
	width: 95%;
	height: 100px;
}

.anagram > div {
	position: relative;
	top: 50px;
	height: 100%;
	border-radius: 10px;
	background: white;
	text-align: center;
}


.word {
	display: inline-block;
	height: 100%;
	margin: auto;
	padding: 1px;
}

.letter {
	height: 100%;
	background: grey;
	float: left;
	margin: 0 1px;
	border-radius: 10px;
}

.letter > span {
	display: inline-block;
	padding: 9px;
	font-size: 72px;
	background: #1787cd;
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.text {
	height: 50px;
	width: 98%;
}

p {
	font-size: 68px;
	text-align: center;
	height: 100%;
	padding: 10px 3px;
}

.indrag {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.drop {
	background: aqua;
}