* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	box-sizing: border-box;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: move;
}

html, body {
	background: grey;
	height: 100%;
}
.hidden {
	display: none !important;
}

.centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#room {
	width: 300px;
	height: 300px;
	border: 1px solid silver;
	border-radius: 7px;
	background: cyan;
}

.level {
	text-align: right;
	padding: 5px;
}

.level * {
	font-size: 12px;
}

.anagram {
	width: 98%;
	height: 50px;
	border: 1px solid grey;
	border-radius: 5px;
	background: white;
	text-align: center;
}

.word {
	display: inline-block;
	height: 100%;
	margin: auto;
	font-size: 12px;
}

.letter {
	height: 100%;
	background: grey;
	/*border: 1px solid black;*/
	float: left;
	margin: 0 -1px;
}

.letter > span {
	display: inline-block;
	padding: 2px 5px;
	font-size: 36px;
	background: white;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}

.congratulation {
	height: 50px;
}

p {
	font-size: 20px;
	text-align: center;
	height: 100%;
	padding: 0 3px;
}

.indrag {
	opacity:0.8;
	filter:alpha(opacity=80);
	/*transform:scale(1.2,1.2);
	-webkit-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);*/
}